.navbar{ 
  background-color: black;
  position: fixed;
  top:0; 
  z-index:1;
}

.main-nav{
  width:100%;
  /* position: fixed;
  top:0; */
  height: 90px;
  background-color: var(--dark-color);
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  /* border-bottom: white solid 1px; */
  /* width: 100%; */
  /* border-bottom: white solid 1px; */
}

.boder-bottom{
  border-bottom: white solid 1px;
  height: 93px;
}
/* logo */
.nav-logo{
  padding-left: .9rem;
  padding-top: .6rem;
  font-size: 2.5rem;
  font-family: 'Electrolize', sans-serif;
  font-weight: 400; 
  display: flex;
  align-items: center;
}
.nav-logo span{
  color: var(--fourth-color);
}
/* tabs */
.main-nav ul{
  padding-top: .1rem;
  height: 90px; 
}

nav ul li a {
  font-size: 1.3rem !important;
  height: 90px;
  display: flex; 
  align-items: center; 
}
.main-nav ul li{
  height: 90px ; 
  /* padding: .8rem 0.2rem; */
  /* display: flex; 
  align-items: center;  */
  /* font-size: 1.2rem !important; */
}
.main-nav ul li:nth-child(1) a {
  color: var(--primary-color);
}
.main-nav ul li:nth-child(2) a {
  color: var(--second-color);
}
.main-nav ul .third-tab a {
  color: var(--third-color);
}
.main-nav ul li:nth-child(4) a {
  color: var(--fourth-color);
}
.main-nav ul li:nth-child(5) a {
  color: var(--medium-color);
}
/* .main-nav ul li:last-child a {
  color: var(--medium-color);
} */
.login-tab {
  /* border-left: solid 1px white; */
}
.login-tab a span {
  color: var(--medium-color);
  font-weight: bold;
}
.login-tab a {
  color: var(--third-color);
  /* border-left: solid 1px white; */
}

.login-nav a span {
  border-left: var(--third-color);
}

/* hover */
.main-nav ul:hover li a {
  color: var(--medium-color);  
}
.main-nav ul li:nth-child(1):hover {
  font-size: 1.5rem !important;  
  background-color: var(--primary-color);
}
.main-nav ul li:nth-child(2):hover {
  font-size: 1.5rem !important;  
  background-color: var(--second-color);
}
.main-nav ul .third-tab:hover {
  font-size: 1.5rem !important;  
  background-color: var(--third-color);
}
.main-nav ul li:nth-child(4):hover {
  font-size: 1.5rem !important;  
  background-color: var(--fourth-color);
}
.main-nav ul li:nth-child(5):hover {
  font-size: 1.5rem !important;  
  background-color: var(--medium-color); 
}
.main-nav ul li:nth-child(5):hover a{
  color: var(--dark-color);  
}
hover login */
.main-nav ul .login-tab:hover{
  background-color: var(--third-color);  
}
.main-nav ul .login-tab:hover a{
  color: var(--light-color);  
}

/* side-nav */

.side-nav-buttom{
  margin-top: 1.2rem;
}

.sidenav li a {
  color: var(--secondary-color) !important;
  margin-top: .4rem;
  font-size:  1.5rem !important;
}

.sidenav li:nth-child(1) a {
  color: var(--primary-color) !important;
}
.sidenav li:nth-child(2) a {
  color: var(--second-color) !important;
}
.sidenav .third-tab a {
  color: var(--third-color) !important;
}
.sidenav li:nth-child(4) a {
  color: var(--fourth-color) !important;
}
.sidenav li:nth-child(5) a {
  color: var(--medium-color) !important;
}
.sidenav .login-tab a {
  color: var(--medium-color) !important;
}







